@model ThunderFireHomeAdmin.Models.ContactBookModel
@{
    ViewBag.Title = "Contatos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">@ViewBag.Title</h5>
        </div>
        <div class="card-body">

            <div class="form-row">
                <input type="hidden" id="FCODEND" value="@Model.CCODEND" />
                <label for="CCODUSU" class="col-sm-2 col-form-label">Usuário</label>
                <div class="col-sm-4">
                    @if (Model.ListaUsuario != null)
                    {
                        @Html.DropDownListFor(model => model.CCODUSU, new SelectList(Model.ListaUsuario, "CODUSU", "NOMUSU", Model.CCODUSU), new { @class = "form-control form-control-sm" })
                    }
                </div>
            </div>

            <hr />
            <div class="row">
                <div class="col-sm-4">
                    <button type="button" onclick="history.back()" class="btn btn-dark btn-sm"><i class="fa fa-arrow-left" aria-hidden="true"></i>Voltar</button>
                    <button id="btn_add" value="Adicionar" class="btn btn-primary btn-sm" onclick="CallForAdd();"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Detalhes</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="tbcontatos" class="table table-bordered table-striped table-hover dataTable js-exportable">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Registro</th>
                            <th>Principal</th>
                            <th>Tipo</th>
                            <th>DDD</th>
                            <th>Telefone</th>
                            <th>Atualização</th>
                            <th>Por</th>
                            <th>&#160;</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalcontatos" tabindex="-1" role="dialog" aria-labelledby="modalab" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="color:red;float:left"><i class="fa fa-phone" aria-hidden="true"> </i> @ViewBag.Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="OPERATION" value="0" />
                <input type="hidden" id="FCODCTO" value="0" />
                <input type="hidden" id="FCODEND" value="@Model.CCODEND" />
                <div class="form-group row">
                    <label for="FCODUSU" class="col-sm-2 control-label">Usuário</label>
                    <div class="col-sm-10">
                        @if (Model.ListaUsuario != null)
                        {
                            @Html.DropDownListFor(model => model.FCODUSU, new SelectList(Model.ListaUsuario, "CODUSU", "NOMUSU", Model.FCODUSU), new { @class = "form-control form-control-sm" })
                        }
                    </div>
                </div>

                <div class="form-group row">
                    <label for="FTIPCTO" class="col-sm-2 control-label">Tipo</label>
                    <div class="col-sm-4">
                        @if (Model.ListaTipoContato != null)
                        {
                            @Html.DropDownListFor(model => model.FTIPCTO, new SelectList(Model.ListaTipoContato, "TIPCTO", "DSCCTO", Model.FTIPCTO), new { @class = "form-control form-control-sm" })
                        }
                    </div>
                    <label for="FCODPAI" class="col-sm-2 control-label">País</label>
                    <div class="col-sm-4">
                        @if (Model.ListaPais != null)
                        {
                            @Html.DropDownListFor(model => model.FCODPAI, new SelectList(Model.ListaPais, "KEYCOD", "DSCTAB", Model.FCODPAI), new { @class = "form-control form-control-sm" })
                        }
                    </div>

                </div>
                <div class="form-group row">
                    <label for="FCODOPR" class="col-sm-2 control-label">Operadora</label>
                    <div class="col-sm-2">
                        @if (Model.ListaOperadora != null)
                        {
                            @Html.DropDownListFor(model => model.FCODOPR, new SelectList(Model.ListaOperadora, "KEYCOD", "DSCTAB", Model.FCODOPR), new { @class = "form-control form-control-sm" })
                        }
                    </div>
                    <label for="FNUMDDD" class="col-sm-2 control-label">DDD</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control form-control-sm ddd" id="FNUMDDD" name="FNUMDDD" placeholder="DDD" value="" required>
                    </div>
                    <label for="FNUMTEL" class="col-sm-2 control-label">Número</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control form-control-sm phone" id="FNUMTEL" name="FNUMTEL" placeholder="Número" value="0">
                    </div>

                </div>
                <div class="form-group row">
                    <label for="FDSCOBS" class="col-sm-2 control-label">Observações</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-sm" id="FDSCOBS" name="FDSCOBS" placeholder="" value="" maxlength="100" required>
                    </div>
                </div>

                <div class="form-group row ml-4">
                    <div class="form-check col-sm-3">
                        <input class="form-check-input" type="checkbox" value="" id="FSTAREC" checked />
                        <label class="form-check-label" for="FSTAREC">Ativo</label>
                    </div>
                    <div class="form-check col-sm-3">
                        <input class="form-check-input" type="checkbox" value="" id="FREGATV" checked />
                        <label class="form-check-label" for="FREGATV">Principal</label>
                    </div>
                    <div class="form-check col-sm-3">
                        <input class="form-check-input" type="checkbox" value="" id="FISWHAT" checked />
                        <label class="form-check-label" for="FISWHAT">Whats App</label>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" id="btn_update_cto">Atualizar</button>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts{

    <script src="~/Scripts/Rules/Cadastro_Contatos.js"></script>
}