@model ThunderFireHomeAdmin.Models.VirtualAccountModel
@{
    ViewBag.Title = "ContaVirtual";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">@ViewBag.Title</h5>
        </div>
        <div class="card-body">
            <input type="HIDDEN" id="PCODUSU" value="0" />
            <div class="form-row">
                <div class="col-sm-6">
                    <div class="input-group mb-3">
                        <label for="CNOMUSU" class="col-form-label form-control-sm">Nome :</label>
                        <input type="text" class="form-control form-control-sm" id="CNOMUSU" aria-label="Username" aria-describedby="basic-addon1">
                        <div class="input-group-prepend">
                            <button class="input-group-text" onclick="$('#CNOMUSU').prop('disabled', false); $('#CNOMUSU').val('');"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>

                <label for="CSTACTA" class="col-form-label">Status</label>
                <div class="col-sm-4">
                    @if (Model.CListaStatusConta != null)
                    {
                        @Html.DropDownListFor(model => model.CSTACTA, new SelectList(Model.CListaStatusConta, "CODSTA", "DSCSTA", Model.CCODUSU), new { @class = "form-control form-control-sm" })
                    }
                </div>
                @*<label for="CCODUSU" class="col-sm-2 col-form-label">Usuário</label>
            <div class="col-sm-4">
                @if (Model.CListaUsuario != null)
                {
                    @Html.DropDownListFor(model => model.CCODUSU, new SelectList(Model.CListaUsuario, "CODUSU", "NOMUSU", Model.CCODUSU), new { @class = "form-control form-control-sm" })
                }
            </div>*@
            </div>

            @*<div class="input-group input-group-sm">
            <label for="CNOMUSU" class="col-sm-2 col-form-label form-control-sm">Nome :</label>
            <div class="col-sm-4">
                <input type="text" class="form-control form-control-sm" placeholder="UsernaSo char-set me" aria-label="Username" aria-describedby="basic-addon1">
                <div class="input-group-prepend">
                    <button></button>
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <label for="CNOMUSU" class="col-sm-2 col-form-label">Nome :</label>
            <div class="col-sm-4">
                <input type="text" class="form-control form-control-sm" id="CNOMUSU" placeholder="" maxlength="70">
            </div>

        </div>*@

            <hr />
            <div class="row">
                <div class="col-sm-4">
                    <button type="button" onclick="history.back()" class="btn btn-dark btn-sm"><i class="fa fa-arrow-left" aria-hidden="true"></i>Voltar</button>
                    <button id="btn_add" value="Adicionar" class="btn btn-primary btn-sm" onclick="CallForAdd();"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Detalhes</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="tbcontas" class="table table-bordered table-striped table-hover dataTable js-exportable">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Tipo</th>
                            <th title="Agência . Conta . Dv">Conta</th>
                            <th>Banco</th>
                            <th>Usuário</th>
                            <th>Beneficiario</th>
                            <th>Por</th>
                            <th>&#160;</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalcontavirtual" tabindex="-1" role="dialog" aria-labelledby="modalab" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="color:red;float:left"><i class="fa fa-folder" aria-hidden="true"> </i> @ViewBag.Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="OPERATION" value="0" />
                <input type="hidden" id="FCODEND" value="0" />
                <div class="form-row">
                    <label for="FCODUSU" class="col-sm-2 control-label">Usuário</label>
                    <div class="col-sm-10">
                        @if (Model.ListaUsuario != null)
                        {
                            @Html.DropDownListFor(model => model.FCODUSU, new SelectList(Model.ListaUsuario, "CODUSU", "NOMUSU", Model.FCODUSU), new { @class = "form-control form-control-sm" })
                        }
                    </div>
                </div>
                <div class="form-row">
                    <label for="FSTACTA" class="col-sm-2 control-label">Status</label>
                    <div class="col-sm-10">
                        @if (Model.ListaStatusConta != null)
                        {
                            @Html.DropDownListFor(model => model.FSTACTA, new SelectList(Model.ListaStatusConta, "CODSTA", "DSCSTA", Model.FSTACTA), new { @class = "form-control form-control-sm" })
                        }
                    </div>
                </div>

                <div class="form-row">
                    <label for="FORGCTA" class="col-sm-2 control-label">Origem</label>
                    <div class="col-sm-4">
                        @if (Model.ListaOrigemConta != null)
                        {
                            @Html.DropDownListFor(model => model.FORGCTA, new SelectList(Model.ListaOrigemConta, "KEYCOD", "DSCTAB", Model.FORGCTA), new { @class = "form-control form-control-sm" })
                        }
                    </div>

                    <label for="FNUMBCO" class="col-sm-2 control-label">Banco</label>
                    <div class="col-sm-4">
                        @if (Model.ListaBancos != null)
                        {
                            @Html.DropDownListFor(model => model.FNUMBCO, new SelectList(Model.ListaBancos, "KEYTXT", "DSCTAB", Model.FNUMBCO), new { @class = "form-control form-control-sm key1" })
                        }
                    </div>
                </div>
                <div class="form-row">
                    <label for="FNUMAGE" class="col-sm-2 control-label">Agência</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control form-control-sm key1" id="FNUMAGE" name="FNUMAGE" placeholder="" maxlength="15">
                    </div>
                    <label for="FNUMCTA" class="col-sm-2 control-label">Conta</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control form-control-sm key1" id="FNUMCTA" name="FNUMCTA" placeholder="" maxlength="15">
                    </div>
                    <label for="FNUMDVE" class="col-sm-2 control-label">DV</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control form-control-sm key1" id="FNUMDVE" name="FNUMDVE" placeholder="" maxlength="1">
                    </div>
                </div>


                <div class="form-row">
                    <label for="FTIPCTA" class="col-sm-2 control-label">Tipo de Conta</label>
                    <div class="col-sm-4">
                        @if (Model.ListaTipoConta != null)
                        {
                            @Html.DropDownListFor(model => model.FTIPCTA, new SelectList(Model.ListaTipoConta, "TIPCTA", "DSCCTA", Model.FTIPCTA), new { @class = "form-control form-control-sm key1" })
                        }
                    </div>

                    <label for="FTIPBNF" class="col-sm-2 control-label">Beneficiário</label>
                    <div class="col-sm-4">
                        @if (Model.ListaTipoBeneficiario != null)
                        {
                            @Html.DropDownListFor(model => model.FTIPBNF, new SelectList(Model.ListaTipoBeneficiario, "KEYCOD", "DSCTAB", Model.FTIPBNF), new { @class = "form-control form-control-sm key1" })
                        }
                    </div>
                </div>
                <div class="form-row">
                    <label for="FNOMBNF" class="col-sm-2 control-label">Beneficiário</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm key1" id="FNOMBNF" placeholder="Beneficiário" maxlength="70">
                    </div>
                    <label for="FCODCMF" class="col-sm-2 control-label">CPF/CNPJ</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm" id="FCODCMF" placeholder="CPF/CNPJ">
                    </div>
                </div>


                <div class="form-group row ml-4">
                    <div class="form-check col-sm-4">
                        <input class="form-check-input" type="checkbox" value="" id="FAPLLIM" />
                        <label class="form-check-label" for="FAPLLIM">Aplicar limite</label>
                    </div>

                    <label for="FVLRLIM" class="col-sm-2 control-label">Limite</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control form-control-sm money" id="FVLRLIM" placeholder="Limite" maxlength="12">
                    </div>
                    <label for="FDATVAL" class="col-sm-2 control-label">Validade</label>
                    <div class="col-sm-2">
                        <div class='input-group date' id='datetimepicker3'>
                            <input type="text" class="form-control form-control-sm datepicker" id="FDATVAL" placeholder="" maxlength="10">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                        </div>

                    </div>
                </div>
                <div class="form-group row ml-4">
                    <div class="form-check col-sm-3">
                        <input class="form-check-input" type="checkbox" value="" id="FSTAREC" checked />
                        <label class="form-check-label" for="FSTAREC">Ativo</label>
                    </div>
                    <div class="form-check col-sm-3">
                        <input class="form-check-input" type="checkbox" value="" id="FREGATV" checked />
                        <label class="form-check-label" for="FREGATV">Principal</label>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" id="btn_update">Atualizar</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/Rules/scrContaVirtual.js"></script>
}