@model ThunderFireHomeAdmin.Models.AttributeTypeModel
@{
    ViewBag.Title = "Tipo de Atributo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">@ViewBag.Title</h5>
        </div>
        <div class="card-body">
            <button id="btn_add" value="Adicionar" class="btn btn-primary btn-sm" onclick="CallForAdd();"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar</button>
            <hr />
            <div class="table-responsive">
                <table id="gridshow" class="table table-bordered table-striped table-hover dataTable js-exportable">
                    <thead>
                        <tr>
                            <th width="15px">Atributo</th>
                            <th width="20%">Descrição</th>
                            <th width="15px">Login</th>
                            <th width="15px">Conta Virtual</th>
                            <th width="15%">Atualização</th>
                            <th width="15px">Por</th>
                            <th>&#160;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Lista)
                        {
                            <tr>
                                <td class="text-right">
                                    @Html.DisplayFor(modelItem => item.CODATR)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DSCATR)
                                </td>
                                <td>
                                    @if (item.USELGN)
                                    {
                                        @:Sim
                                    }
                                    else
                                    {
                                        @:Não
                                    }
                                </td>
                                <td>
                                    @if (item.USEACT)
                                    {
                                        @:Sim
                                    }
                                    else
                                    {
                                        @:Não
                                    }
                                </td>

                                <td class="text-center">
                                    @Model.ShowDate(item.DATUPD)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LGNUSU)
                                </td>

                                <td>
                                    @if (item.STAREC != 2)
                                    {
                                        <button id='btn_edit' value='Editar' class='btn btn-danger btn-sm' onclick="CallForEdit('@item.CODATR','@item.DSCATR','@item.USELGN','@item.STAREC','@item.USEACT');"> <i class="fa fa-edit"></i></button>
                                    }
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>



<div class="modal fade" id="modalattributetype" tabindex="-1" role="dialog" aria-labelledby="attributetypelabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalcaption">@ViewBag.Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="OPERATION" value="0" />
                <div class="form-row">
                    <label for="FCODATR" class="col-sm-2 control-label form-control-sm">Atributo:</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control form-control-sm" id="FCODATR" size="4" maxlength="4" disabled>
                    </div>
                    <label for="FDSCATR" class="col-sm-2 control-label form-control-sm">Descrição:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control form-control-sm" id="FDSCATR" size="40" maxlength="40" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="FUSELGN" checked>
                        <label class="form-check-label mr-4" for="FUSELGN">Permitir Login de Acesso</label>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="FUSEACT" checked>
                        <label class="form-check-label mr-4" for="FUSEACT">Permitir Conta Virtual</label>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="FSTAREC" checked>
                        <label class="form-check-label" for="FSTAREC">Ativo</label>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" id="btn_update">Atualizar</button>
            </div>
        </div>
    </div>
</div>




@section scripts{

    <script src="~/Scripts/Rules/TipoAtributo.js"></script>
}
