@model ThunderFireHomeAdmin.Models.ContactTypeModel
@{
    ViewBag.Title = "Tipo de Contato";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Tipo de Contato</h4>
                <button id="btn_add" value="Adicionar" class="btn btn-primary btn-sm" onclick="CallForAdd();"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar</button>
                <hr />
                <div class="table-responsive">
                    <table id="gridshow" class="table table-bordered table-striped table-hover dataTable js-exportable">
                        <thead>
                            <tr>
                                <th>Tipo</th>
                                <th>Status</th>
                                <th>Descrição</th>
                                <th style="width:15%">Atualizado</th>
                                <th style="width:15%">Por</th>
                                <th>&#160;</th>
                            </tr>
                        </thead>

                        @foreach (var item in Model.Lista)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TIPCTO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DSCREC)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.DSCCTO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DATUPD)
                            </td>
                            <td class="text-left">
                                @Html.DisplayFor(modelItem => item.LGNUSU)
                            </td>
                            <td>
                                @if (item.STAREC != 2)
                                {
                                    <button id='btn_edit' value='Editar' class='btn btn-danger btn-sm' onclick="CallForEdit('@item.TIPCTO','@item.DSCCTO','@item.STAREC');"> <i class="fa fa-edit"></i></button>
                                }
                            </td>
                        </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modaltipocontato" tabindex="-1" role="dialog" aria-labelledby="attributetypelabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalcaption">@ViewBag.Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="OPERATION" value="0" />
                <div class="form-row">
                    <label for="FTIPCTO" class="col-sm-2 control-label form-control-sm">Código:</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control form-control-sm" id="FTIPCTO" size="4" maxlength="4" disabled>
                    </div>


                    <label for="FDSCCTO" class="col-sm-2 control-label form-control-sm">Descrição:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control form-control-sm" id="FDSCCTO" size="30" maxlength="30" required>
                        </div>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="FSTAREC" checked>
                        <label class="form-check-label" for="FSTAREC">Ativo</label>
                    </div>

                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" id="btn_update">Atualizar</button>
            </div>
        </div>
    </div>
</div>



@section scripts{
<script src="~/Scripts/Rules/TipoContato.js"></script>
}