@model ThunderFireHomeAdmin.Models.AddressTypeModel
@{
    ViewBag.Title = "Tipo de Endereço";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">@ViewBag.Title</h5>
        </div>
        <div class="card-body">
            <button id="btn_add" value="Adicionar" class="btn btn-primary btn-sm" onclick="CallForAdd();"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar</button>
            <hr />
            <div class="table-responsive">
                <table id="gridshow" class="table table-bordered table-striped table-hover dataTable js-exportable">
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Descrição</th>
                            <th width="15%">Atualização</th>
                            <th width="15%">Por</th>
                            <th>&#160;</th>
                        </tr>
                    </thead>

                    @if (Model.Lista != null)
                    {
                        foreach (var item in Model.Lista)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DSCREC)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DSCTEN)
                                </td>
                                <td class="text-center">
                                    @Model.ShowDate(item.DATUPD)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.LGNUSU)
                                </td>

                                <td>
                                    @if (item.STAREC != 2)
                                    {
                                        <button id='btn_edit' value='Editar' class='btn btn-danger btn-sm' onclick="CallForEdit('@item.TIPEND','@item.DSCTEN','@item.STAREC','@item.REFCTO');"> <i class="fa fa-edit"></i></button>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="modaladdresstype" tabindex="-1" role="dialog" aria-labelledby="attributetypelabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalcaption">@ViewBag.Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="OPERATION" value="0" />
                <input type="hidden" id="FUPDUSU" value="0" />
                <div class="form-row">
                    <label for="FTIPEND" class="col-sm-2 control-label form-control-sm">Código:</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control form-control-sm" id="FTIPEND" size="4" maxlength="4" disabled>
                    </div>
                    <label for="FDSCTEN" class="col-sm-2 control-label form-control-sm">Descrição:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control form-control-sm money" id="FDSCTEN" size="30" maxlength="30" required>
                    </div>
                </div>

                <div class="form-group row ml-4">
                    <div class="form-check col-sm-3">
                        <input class="form-check-input" type="checkbox" value="" id="FSTAREC" checked />
                        <label class="form-check-label" for="FSTAREC">Ativo</label>
                    </div>
                    <div class="form-check col-sm-9">
                        <input class="form-check-input" type="checkbox" value="" id="FREFCTO" checked />
                        <label class="form-check-label" for="FREGATV">Habilitar referência Contatos</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" id="btn_update">Atualizar</button>
            </div>
        </div>
    </div>
</div>



@section scripts{
<script src="~/Scripts/Rules/TipoEndereco.js"></script>
}

