@model ThunderFireHomeAdmin.Models.UsersModel
@{
    ViewBag.Title = "Cadastro Geral";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" id="modalusuarios" tabindex="-1" role="dialog" aria-labelledby="modalattr" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="color:red;float:left"><i class="fa fa-address-book" aria-hidden="true"> </i> @ViewBag.Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="FCODUSU" value="0" />
                <input type="hidden" id="OPMODE" value="0" />
                <input type="hidden" id="FDSCOCO" value="" />
                <div class="form-group row">
                    <label for="FCODATR" class="col-sm-2 control-label">Atributo</label>
                    <div class="col-sm-4">
                        @if (Model.ListaAtributo != null)
                        {
                            @Html.DropDownListFor(model => model.FCODATR, new SelectList(Model.ListaAtributo, "CODATR", "DSCATR", Model.FCODATR), new { @class = "form-control form-control-sm" })
                        }
                    </div>
                    <label for="FSTAUSU" class="col-sm-2 control-label">Status</label>
                    <div class="col-sm-4">
                        @if (Model.ListaStatusUsuario != null)
                        {
                            @Html.DropDownListFor(model => model.FSTAUSU, new SelectList(Model.ListaStatusUsuario, "CODSTA", "DSCSTA", Model.FSTAUSU), new { @class = "form-control form-control-sm" })
                        }
                    </div>
                </div>
                <div class="form-group row">
                    <label for="FSRCUSU" class="col-sm-2 control-label">Gestor</label>
                    <div class="col-sm-10">
                        @if (Model.ListaGestor != null)
                        {
                            @Html.DropDownListFor(model => model.FSRCUSU, new SelectList(Model.ListaGestor, "CODUSU", "NOMUSU", Model.FSTAUSU), new { @class = "form-control form-control-sm" })
                        }
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-sm-3">
                        <label for="FTIPPES" class="control-label">Gênero</label>
                        @if (Model.ListaGenero != null)
                        {
                            @Html.DropDownListFor(model => model.FTIPPES, new SelectList(Model.ListaGenero, "KEYTXT", "DSCTAB", Model.FTIPPES), new { @class = "form-control form-control-sm" })
                        }
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="FNIVCFA" class="control-label">Nível de Confiança</label>
                        @if (Model.ListaNivelConfianca != null)
                        {
                            @Html.DropDownListFor(model => model.FNIVCFA, new SelectList(Model.ListaNivelConfianca, "KEYCOD", "DSCTAB", Model.FNIVCFA), new { @class = "form-control form-control-sm" })
                        }
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="FTIPUSU" class="control-label">Tipo de Usuário</label>
                        @if (Model.ListaTipoUsuario != null)
                        {
                            @Html.DropDownListFor(model => model.FTIPUSU, new SelectList(Model.ListaTipoUsuario, "TIPUSU", "DSCTUS", Model.FTIPUSU), new { @class = "form-control form-control-sm" })
                        }
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="FCODNAC" class="control-label">Nacionalidade</label>
                        @if (Model.ListaNacionalidade != null)
                        {
                            @Html.DropDownListFor(model => model.FCODNAC, new SelectList(Model.ListaNacionalidade, "KEYCOD", "DSCTAB", Model.FCODNAC), new { @class = "form-control form-control-sm" })
                        }
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-check form-check-inlin">
                        <input class="form-check-input" type="radio"  name="FCODPJU" value="F" checked>
                        <label class="form-check-label mr-4" for="FCODPJU1">
                            Física
                        </label>
                    </div>
                    <div class="form-check form-check-inlin">
                        <input class="form-check-input" type="radio"  name="FCODPJU" value="J">
                        <label class="form-check-label mr-4" for="FCODPJU2">
                            Jurídica
                        </label>
                    </div>
                    <div class="form-check form-check-inlin">
                        <input class="form-check-input" type="radio" name="FCODPJU" value="I">
                        <label class="form-check-label" for="FCODPJU3l">
                            Indeterminado
                        </label>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="FCODCMF" class="col-sm-2 control-label">CPF/CNPJ</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm" id="FCODCMF" name="FCODCMF" placeholder="CPF/CNPJ" value="" required>
                    </div>
                    <label for="FNUMIRG" class="col-sm-2 control-label">RG</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm" id="FNUMIRG" name="FNUMIRG" placeholder="RG" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="FNOMUSU" class="col-sm-3 control-label">Nome/Razão Social</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control form-control-sm" id="FNOMUSU" name="FNOMUSU" placeholder="" value="" maxlength="70" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="FNOMMAE" class="col-sm-3 control-label">Nome Mãe/Fantasia</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control form-control-sm" id="FNOMMAE" name="FNOMMAE" placeholder="" value="" maxlength="70">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="FDATNAC" class="col-sm-3 control-label">Nascimento/fundação</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm datepicker" id="FDATNAC" name="FDATNAC" required>
                    </div>
                </div>
                <div class="form-group row ml-4">
                    <div class="form-check col-sm-3">
                        <input class="form-check-input" type="checkbox" value="" id="FSTAREC" checked />
                        <label class="form-check-label" for="FSTAREC">Ativo</label>
                    </div>
                    <div class="form-check col-sm-4">
                        <input class="form-check-input" type="checkbox" value="" id="FATRPPE">
                        <label class="form-check-label" for="FATRPPE">Pessoa Politicamente exposta</label>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" id="btn_update">Atualizar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalloginuser" tabindex="-1" role="dialog" aria-labelledby="modalattr" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="width:400px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="color:red;float:left"><i class="fa fa-user" aria-hidden="true"> </i>@ViewBag.Title - Registro de Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="LCODUSU" value="0" />
                <div class="form-group row">
                    <label for="FLGNUSU" class="col-sm-2 control-label">Login</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control form-control-sm" id="FLGNUSU" placeholder="Entre com o login o usuário" size="50" maxlength="50" required>
                    </div>
                </div>
                <div class="form-row">
                    <label for="PSWUSU" class="col-sm-2 control-label">Senha</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm" id="FPSWUSU" name="FPSWUSU" placeholder="" value="" min="3" size="50" maxlength="50" required>
                    </div>
                    <label for="FRSTPSW" class="col-sm-2 control-label">Resetar</label>
                    <div class="col-sm-4">
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" id="FRSTPSW">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" id="btn_update_lgn">Alterar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modaldataref" tabindex="-1" role="dialog" aria-labelledby="modalattr" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalcaption">Dados de Referência do Cadastro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control" id="FNOMUSU" aria-describedby="" placeholder="Entre com o login o usuário" readonly>
                </div>
                <div class="form-horizontal">
                    <div class="form-row">
                        <div class="col-sm-6">
                            <label for="FUFEEMI" class="control-label">RG UF Emissor</label>
                            <select class="form-control form-control-sm" id="FUFEEMI">
                                <option>PS</option>
                                <option>SS</option>
                            </select>
                        </div>

                        <div class="col-sm-6">
                            <label for="FORGEMI" class="control-label">RG Orgão Emissor</label>
                            <input type="text" class="form-control" id="FORGEMI" name="FORGEMI" placeholder="" value="" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label for="FCODECV" class="control-label">Estado Civil</label>
                            <select class="form-control form-control-sm" id="FCODECV"></select>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="FCODPRF" class="control-label">Profissão</label>
                            <select class="form-control form-control-sm" id="FCODPRF"></select>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label for="FCODATU" class="control-label">ATU</label>
                            <select class="form-control form-control-sm" id="FCODECV"></select>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="FCODEXT" class="control-label">EXT</label>
                            <select class="form-control form-control-sm" id="FCODEXT"></select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label for="FNUMMAT" class="control-label">Matrícula</label>
                            <input type="text" class="form-control" id="FNUMMAT" name="FNUMMAT" placeholder="" value="" required>
                        </div>
                    </div>
                    <div class="form-check form-check-inline mb-2 mr-sm-2">
                        <input type="checkbox" class="form-check-input" id="FSTAREC" checked>
                        <label class="form-check-label" for="FSTAREC">Ativo</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" id="btn_lgn_ins">Atualizar</button>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">@ViewBag.Title</h5>
        </div>
        <div class="card-body">
            <div class="form-row">
                <label for="CCODATR" class="col-sm-2 col-form-label">Atributo</label>
                <div class="col-sm-4">
                    @if (Model.CListaAtributo != null)
                    {
                        @Html.DropDownListFor(model => model.CCODATR, new SelectList(Model.CListaAtributo, "CODATR", "DSCATR", Model.CCODATR), new { @class = "form-control form-control-sm" })
                    }
                </div>
                <label for="CSTAUSU" class="col-sm-2 col-form-label">Status</label>
                <div class="col-sm-4">
                    @if (Model.ListaStatusUsuario != null)
                    {
                        @Html.DropDownListFor(model => model.CSTAUSU, new SelectList(Model.ListaStatusUsuario, "CODSTA", "DSCSTA", Model.CSTAUSU), new { @class = "form-control form-control-sm" })
                    }
                </div>
            </div>
            <div class="form-row">
                <label for="TNOMUSU" class="col-sm-2 control-label">Nome</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control-sm form-control" id="TNOMUSU" name="TNOMUSU" placeholder="Nome ou parte a procurar" value="">
                </div>
                <label for="CSTAREC" class="col-sm-2 control-label">Status do Registro</label>

                <div class="col-sm-4">
                    @if (Model.ListaStatusRegistro != null)
                    {
                        @Html.DropDownListFor(model => model.CSTAREC, new SelectList(Model.ListaStatusRegistro, "KEYCOD", "DSCTAB", Model.CSTAREC), new { @class = "form-control form-control-sm" })
                    }
                </div>
            </div>
            <div class="form-row">
                <label for="CSRCUSU" class="col-sm-2 control-label">Responsável</label>
                <div class="col-sm-4">
                    @if (Model.ListaGestor != null)
                    {
                        @Html.DropDownListFor(model => model.CSRCUSU, new SelectList(Model.ListaGestor, "CODUSU", "NOMUSU", Model.CSRCUSU), new { @class = "form-control form-control-sm" })
                    }
                </div>

            </div>
            <hr />
            <div class="row">
                <div class="col-sm-4">
                    <button type="button" onclick="history.back()" class="btn btn-dark btn-sm"><i class="fa fa-arrow-left" aria-hidden="true"></i>Voltar</button>
                    <button id="btn_add" value="Adicionar" class="btn btn-primary btn-sm" onclick="CallForAdd();"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar</button>
                </div>
            </div>

        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Detalhes</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="tbusuarios" class="table table-bordered table-striped table-hover dataTable js-exportable">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Registro</th>
                            <th title="Conta Virtual"><i class="fa fa-credit-card" aria-hidden="true"></i></th>
                            <th title="Endereços cadastrados"><i class="fa fa-envelope" aria-hidden="true"></i></th>
                            <th title="Contatos cadastrados"><i class="fa fa-mobile" aria-hidden="true"></i></th>
                            <th>Status</th>
                            <th>Nome</th>
                            <th>Tipo</th>
                            <th>CNPJ/CPF</th>
                            <th>&#160;</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/Rules/Cadastro_Usuarios.js"></script>
}
