@model ThunderFireHomeAdmin.Models.ProductManagerModel
@{
    ViewBag.Title = "Usuario Gestor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" id="modalgestorproduto" tabindex="-1" role="dialog" aria-labelledby="attributetypelabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="color:red;float:left"><i class="fa fa-user" aria-hidden="true"> </i> @ViewBag.Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="OPERATION" value="0" />
                <input type="hidden" id="FUPDUSU" value="0" />
                <input type="hidden" id="FUSUPRO" value="0" />
                <div class="form-row">
                    <label for="FCODUSU" class="col-sm-2 control-label form-control-sm">Usuário:</label>
                    <div class="col-sm-10">
                        @if (Model.ListaGestor != null)
                        {
                            @Html.DropDownListFor(model => model.FCODUSU, new SelectList(Model.ListaGestor, "CODUSU", "NOMUSU", Model.FCODUSU), new { @class = "form-control form-control-sm" })
                        }
                    </div>
                </div>
                <div class="form-row">
                    <label for="FCODPRO" class="col-sm-2 control-label form-control-sm">Produto:</label>
                    <div class="col-sm-10">
                        @if (Model.ListaProduto != null)
                        {
                            @Html.DropDownListFor(model => model.FCODPRO, new SelectList(Model.ListaProduto, "CODPRO", "DSCPRO", Model.FCODPRO), new { @class = "form-control form-control-sm" })
                        }
                    </div>
                </div>

                <div class="form-row">
                    <label for="FVLRMIN" class="col-sm-2 control-label form-control-sm">Valor Mínimo:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm money" id="FVLRMIN" size="8" maxlength="8" required>
                    </div>
                    <label for="FVLRMAX" class="col-sm-2 control-label form-control-sm">Valor Máximo:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm money" id="FVLRMAX" size="8" maxlength="8" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="FAPLRVC" value="option1">
                            <label class="form-check-label form-control-sm" for="FAPLRVC">Aplicar Regra de Vencimento</label>
                        </div>
                    </div>
                    <label for="FREGVCT" class="col-sm-2 form-control-sm">Número de Dias</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm" id="FREGVCT" size="8" maxlength="8">
                    </div>
                </div>


                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="FAPLMEN" value="option1">
                            <label class="form-check-label form-control-sm" for="FAPLMEN">Aplicar Mensalidade</label>
                        </div>
                    </div>
                    <label for="FVLRMEN" class="col-sm-2 form-control-sm">Valor da Mensalidade</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm money" id="FVLRMEN" size="8" maxlength="8">
                    </div>
                </div>
                <hr />
                <div class="form-row">
                    <label for="FINSBC1" class="col-sm-2 form-control-sm">Instrução #1</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm boleto" id="FINSBC1" name="FINSBC1" placeholder="" value="" maxlength="30">
                    </div>
                    <label for="FINSBC2" class="col-sm-2 form-control-sm">Instrução #2</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm boleto" id="FINSBC2" name="FINSBC2" placeholder="" value="" maxlength="30">
                    </div>
                    <label for="FINSBC3" class="col-sm-2 form-control-sm">Instrução #3</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm boleto" id="FINSBC3" name="FINSBC3" placeholder="" value="" maxlength="30">
                    </div>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="FAPLINT" value="option1">
                    <label class="form-check-label form-control-sm" for="FAPLINT">Aplicação Interna</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="FAPLCES" value="option2">
                    <label class="form-check-label form-control-sm" for="FAPLCES">Vincular Conta Virtual</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="FAPLTAD" value="option3">
                    <label class="form-check-label form-control-sm" for="FAPLTAD">Aplicar Tarifa Administrativa</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="FSTAREC" value="option3">
                    <label class="form-check-label form-control-sm" for="FSTAREC">Ativo</label>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" id="btn_update">Atualizar</button>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">@ViewBag.Title</h5>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label for="CCODUSU" class="col-sm-2 control-label">Usuário</label>
                <div class="col-sm-4">
                    @if (Model.ListaGestor != null)
                    {
                        @Html.DropDownListFor(model => model.CCODUSU, new SelectList(Model.ListaGestor, "CODUSU", "NOMUSU", Model.CCODUSU), new { @class = "form-control form-control-sm" })
                    }
                </div>
                <label for="CCODPRO" class="col-sm-2 control-label">Produto</label>
                <div class="col-sm-4">
                    @if (Model.ListaProduto != null)
                    {
                        @Html.DropDownListFor(model => model.CCODPRO, new SelectList(Model.ListaProduto, "CODPRO", "DSCPRO", Model.CCODPRO), new { @class = "form-control form-control-sm" })
                    }
                </div>
            </div>

            <hr />
            <div class="row">
                <div class="col-sm-4">
                    <button type="button" onclick="history.back()" class="btn btn-dark btn-sm"><i class="fa fa-arrow-left" aria-hidden="true"></i>Voltar</button>
                    <button id="btn_add" value="Adicionar" class="btn btn-primary btn-sm" onclick="CallForAdd();"><i class="fa fa-plus" aria-hidden="true"></i> Adicionar</button>
                </div>
            </div>

            <div class="table-responsive">
                <table id="tbgestorproduto" class="table table-bordered table-striped table-hover dataTable js-exportable">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Registro</th>
                            <th>Usuário</th>
                            <th>Produto</th>
                            <th>Interno</th>
                            <th>Usuário</th>
                            <th>&#160;</th>
                        </tr>
                    </thead>
                </table>
            </div>

        </div>
    </div>
</div>



@section scripts{
    <script>
        var TbDetalhe = null;
        $(document).ready(function () {
            $('.date').mask('00/00/0000');
            $('.money').mask('000.000,00', { reverse: true });
            $('.money2').mask("#.##0,00", { reverse: true });

            $(document).on("click", "#btn_update", function () {
                var mode = $("#OPERATION").val();
                var vREGVCT = parseInt($("#FREGVCT").val());
                var vCODPRO = parseInt($("#FCODPRO").val());

                if (vREGVCT == null || vREGVCT > 255)
                    vREGVCT = 0;

                if (PrimaryValidation()) {

                    var VDATA = JSON.stringify({
                        'USUPRO': parseInt($("#FUSUPRO").val()),
                        'CODUSU': parseInt($("#FCODUSU").val()),
                        'CODPRO': parseInt($("#FCODPRO").val()),
                        'APLINT': $("#FAPLINT").is(':checked') ? 1 : 0,
                        'VLRMIN': ToFloat($("#FVLRMIN").val()),
                        'VLRMAX': ToFloat($("#FVLRMAX").val()),
                        'VLRMEN': ToFloat($("#FVLRMEN").val()),
                        'APLRVC': $("#FAPLRVC").is(':checked') ? 1 : 0,
                        'REGVCT': vREGVCT,
                        'APLCES': $("#FAPLCES").is(':checked') ? 1 : 0,
                        'APLTAD': $("#FAPLTAD").is(':checked') ? 1 : 0,
                        'APLMEN': $("#FAPLMEN").is(':checked') ? 1 : 0,
                        'STAREC': $("#FSTAREC").is(':checked') ? 1 : 0,
                        'INSBC1': $("#FINSBC1").val(),
                        'INSBC2': $("#FINSBC2").val(),
                        'INSBC3': $("#FINSBC3").val()
                    });
                    $.ajax({
                        type: "POST",
                        url: GetUrl("Cadastros/AtualizarGestorProduto?modo=" + mode),
                        data: VDATA,
                        dataType: 'json',
                        contentType: 'application/json',
                        beforeSend: function () { },
                        success: function (result) {
                            console.log(result);
                            var ok = parseInt(result.ReturnValue);
                            if (ok > 0) {
                                $('#modalgestorproduto').modal('toggle');
                            }
                            else {
                                $.alert({ class: 'danger', title: 'Usuário Gestor', message: result.MessageToUser, effect: 'zoom' });
                            };
                        },
                        error: function (data) {
                            $.alert({ class: 'danger', title: 'Usuário Gestor', message: 'Ocorreu um erro inesperado, por favor tente novamente', effect: 'zoom' });
                        }
                    });

                }

            });

            $('#FCODPRO').on('change', function () {
                var value = $(this).val();
                if (value == 4) {
                    $('.boleto').attr("disabled", "disabled");
                }
                else {
                    $('.boleto').removeAttr("disabled");
                }
            });

            AtualizaDetalhe()
        });


        function CallForAdd() {
            $("#OPERATION").val("1");
            $("#FSTAREC").prop('checked', "true");
            $('#modalgestorproduto').modal({ backdrop: 'static', Keyboard: 'true' });
            $('#modalgestorproduto').modal('toggle');
        }
        function CallForEdit(pUSUPRO) {
            $("#OPERATION").val("2");
            $.ajax({
                type: "GET",
                url: GetUrl("Cadastros/SelecionarGestorProduto"),
                data: { pUSUPRO: pUSUPRO },
                dataType: 'json',
                success: function (result) {
                    $("#FUSUPRO").val(result.USUPRO);
                    $("#FCODUSU").val(result.CODUSU);
                    $("#FCODUSU").prop('disabled', true);
                    $("#FCODPRO").val(result.CODPRO);
                    $("#FCODPRO").prop('disabled', true);
                    $("#FAPLINT").val(result.APLINT);
                    $("#FVLRMIN").val(result.VLRMIN);
                    $("#FVLRMAX").val(result.VLRMAX);
                    $("#FVLRMEN").val(result.VLRMEN);
                    $("#FAPLRVC").prop('checked', (result.APLRVC == 1));
                    $("#FREGVCT").val(result.REGVCT);
                    $("#FINSBC1").val(result.INSBC1);
                    $("#FINSBC2").val(result.INSBC2);
                    $("#FINSBC3").val(result.INSBC3);
                    $("#FAPLCES").prop('checked', (result.APLCES == 1));
                    $("#FAPLMEN").prop('checked', (result.APLMEN == 1));
                    $("#FAPLTAD").prop('checked', (result.APLTAD == 1));
                    $("#FSTAREC").prop('checked', (result.STAREC == 1));
                }
            });
            $('#modalgestorproduto').modal({ backdrop: 'static', Keyboard: 'true' });
            $('#modalgestorproduto').modal('toggle');
        }

        function ToFloat(value) {
            var v = value.replace('.', '').replace(',', '');
            return parseInt(v) / 100;
        }




        function AtualizaDetalhe() {
            try {
                if (TbDetalhe == null) {

                    TbDetalhe = $('#tbgestorproduto').DataTable(
                        {
                            paging: true,
                            searching: false,
                            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
                            processing: true,
                            serverSide: true,
                            orderMulti: false,
                            ajax: {
                                url: GetUrl("Cadastros/PesquisarGestorProduto"),
                                type: "POST",
                                datatype: "json",
                                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                                data: {
                                    pCODPRO: function () { return $('#CCODPRO').val() },
                                    pCODUSU: function () { return $('#CCODUSU').val() }
                                }
                            },

                            columns: [
                                { data: "USUPRO" },
                                { data: "DSCREC" },
                                { data: "NOMUSU" },
                                { data: "DSCPRO" },
                                { data: "DSCAPL" },
                                { data: "LGNUSU" },
                                {
                                    "render": function (data, type, row) {
                                        return "<button id='btn_call_edt' value='Editar' class='btn btn-primary btn-sm' onclick=\"CallForEdit('" + row.USUPRO + "');\"> <i class='fas fa-edit'></i></button>&nbsp;"
                                    }
                                }
                            ],
                            "language": {
                                "processing": "Aguarde, buscando informações",
                                "loadingRecords": "Carregando",
                            },
                            "pageLength": 10,
                            "oLanguage": {
                                "sLengthMenu": "Mostrar _MENU_ registros por página",
                                "sZeroRecords": "Nenhum registro encontrado",
                                "sInfo": "Mostrando _START_ / _END_ de _TOTAL_ registro(s)",
                                "sInfoEmpty": "Mostrando 0 / 0 de 0 registros",
                                "sInfoFiltered": "(filtrado de _MAX_ registros)",
                                "sSearch": "Pesquisar: "
                            },
                            columnDefs: [
                                { "targets": [0], "visible": false, "searchable": false },
                                { className: "text-left", "targets": [1], "visible": true, "searchable": false, "width": "12px" },
                                { className: "text-left", "targets": [2], "visible": true, "searchable": false, "width": "60px" },
                                { className: "text-left", "targets": [3], "visible": true, "searchable": false, "width": "60px" },
                                { className: "text-left", "targets": [4], "visible": true, "searchable": false, "width": "15px" },
                                { className: "text-left", "targets": [5], "visible": true, "searchable": false, "width": "30px" },
                                { className: "text-left", "targets": [6], "visible": true, "searchable": false, "width": "30px" }
                            ]
                        });
                }
                else {
                    TbDetalhe.DataTable().ajax.reload();
                }
            }
            catch (e) {
            }
        }

        function PrimaryValidation() {

            var aval;
            var msg = '';
            var ret = true;

            var modo = parseInt($("#FOPERATION").val());
            if (modo == null || (modo< 1 && modo > 2)) {
                msg = 'Operação invalida';
                ret = false;
            }

            if (ret === true) {
                aval = parseInt($("#FCODPRO").val());
                if (aval <= 0) {
                    msg = 'Selecione um código de Produto válido';
                    ret = false;
                }
            }
            if (ret === false) {
                $.alert({ class: 'danger', title: 'Tarifa', message: msg, effect: 'zoom' });
            }
            return ret;
        }




    </script>
}
